<h1>Books</h1>

<% @books.each do |book| %>
    
    <div class=title-box>
	<p>Title</p>
	<span><%= book.title %></span>
    </div>

    <div class="body-box">
	<p>Body</p>
	<span><%= book.body %></span>
    </div>

<% end %>

