/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1, h2, p, table, label, th, a {
	font-family: serif;
}

a {
color: #191970;
}
a:hover {
	color: #B22222;
}
body {
	margin: 0 0 0 30px;
}


h1 {
	font-size: 2em;
	margin: 20px 0 0 0px;
}
h2 {
	font-size: 20px;
	margin: 15px 0px 0px 0px;
}

label{
	font-size: 1em;
}

input {
	display: block;
/*	margin: 10px 0 10px 0;
*/}

p {
margin: 25px 0 30px 30px;
}
strong {
	font-size: 14px;
}
table {
	margin: 10px 0 0 0px;
}
td {
	padding-right: 1em;
}
.field {
	margin-bottom: 10px;
}
.show-box {
	margin : 30px 0 0 0;
}
.link-box {
	margin-top: 5px;
}
.link-box1 {
	margin-left: 30px;
}






